<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tk.pankajb.apitest" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.APITest" >

        <activity
            android:name=".usersApi.UsersApiMainActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".roomTest.RoomViewUsersActivity"
            android:exported="false"
            android:parentActivityName=".roomTest.RoomDatabaseCRUDActivity" />
        <activity
            android:name=".roomTest.RoomAddUserActivity"
            android:exported="false"
            android:parentActivityName=".roomTest.RoomDatabaseCRUDActivity" />
        <activity
            android:name=".roomTest.RoomDatabaseCRUDActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".firebaseTest.FirebaseCRUDMainActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <service
            android:name=".services.CurrentLocationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />

        <activity
            android:name=".MapActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".imageApi.UploadImageActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".usersApi.ViewUsersFromApiActivity"
            android:exported="false"
            android:parentActivityName=".usersApi.UsersApiMainActivity" />

        <activity
            android:name=".usersApi.AddUserActivityToApi"
            android:exported="false"
            android:parentActivityName=".usersApi.UsersApiMainActivity" />

        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>